In [1]:
import pandas as pd

In [2]:
# Cargamos el dataframe original 
df = pd.read_csv('Restaurant reviews.csv')
# Filtramos las filas del dataset tal que la columna 'Metadata' contiene el string la expresión 'Follower' y no contiene 
# la expresión 'Review'
df['Metadata'] = df['Metadata'].fillna('')
filtro = df['Metadata'].str.contains('Follower') & ~df['Metadata'].str.contains('Review')
resultados = df[filtro]['Metadata']
# Mostrar las filas que cumplen con la condición
print(resultados.head(30))

3410         1 Post , 80 Followers
5347     89 Posts , 1127 Followers
5830     82 Posts , 1500 Followers
7375    151 Posts , 2709 Followers
9683     47 Posts , 4142 Followers
9981     88 Posts , 1694 Followers
Name: Metadata, dtype: object

Vemos que no hay ninguna fila en la que aparezca únicamente el número de followers, todas las filas contienen el número de Reviews/Posts

In [3]:
# Filtramos las filas del dataset tal que la columna 'Metadata' no contiene el string la expresión 'Follower' y sí
# contiene la expresión 'Review'
filtro = ~df['Metadata'].str.contains('Follower') & df['Metadata'].str.contains('Review')
resultados = df[filtro]['Metadata']
# Mostrar las filas que cumplen con la condición
print(resultados.head(30))

5       1 Review
6       1 Review
7       1 Review
14      1 Review
24      1 Review
25     3 Reviews
35      1 Review
36      1 Review
40     5 Reviews
41      1 Review
46      1 Review
48      1 Review
54      1 Review
62     2 Reviews
65      1 Review
70     3 Reviews
72      1 Review
74      1 Review
77     2 Reviews
82      1 Review
85      1 Review
88      1 Review
93      1 Review
96      1 Review
97      1 Review
104     1 Review
105     1 Review
106     1 Review
107     1 Review
110     1 Review
Name: Metadata, dtype: object

Observamos como hay filas en las que solamente aparece el número de reviews en la columna Metadata

Para obtener las columnas Reviews y Followers a partir de Metadata lo que haremos será seleccionar la primera sucesión de dígitos que aparezca en Metadata y asignarla a Reviews. En caso de que haya una segunda sucesión de dígitos, se asignará a Followers.

In [4]:
# Extraemos el número de Reviews y Followers de la columna Metadata en dos nuevas columnas
df[['Reviews', 'Followers']] = df['Metadata'].str.extract('(\d+)\D*(\d*)', expand=True)

# Convertimos las nuevas columnas a tipos numéricos
df[['Reviews', 'Followers']] = df[['Reviews', 'Followers']].apply(pd.to_numeric)

In [5]:
# Verificamos que el código separa correctamente ambos números
df[['Metadata', 'Reviews', 'Followers']].head(30)

                      Metadata  Reviews  Followers
0       1 Review , 2 Followers      1.0        2.0
1      3 Reviews , 2 Followers      3.0        2.0
2      2 Reviews , 3 Followers      2.0        3.0
3        1 Review , 1 Follower      1.0        1.0
4      3 Reviews , 2 Followers      3.0        2.0
5                     1 Review      1.0        NaN
6                     1 Review      1.0        NaN
7                     1 Review      1.0        NaN
8        1 Review , 1 Follower      1.0        1.0
9        1 Review , 1 Follower      1.0        1.0
10       1 Review , 1 Follower      1.0        1.0
11      3 Reviews , 1 Follower      3.0        1.0
12       1 Review , 1 Follower      1.0        1.0
13    2 Reviews , 25 Followers      2.0       25.0
14                    1 Review      1.0        NaN
15     4 Reviews , 7 Followers      4.0        7.0
16   30 Reviews , 34 Followers     30.0       34.0
17   6 Reviews , 267 Followers      6.0      267.0
18       1 Review , 1 Follower      1.0        1.0
19     1 Review , 33 Followers      1.0       33.0
20  72 Reviews , 762 Followers     72.0      762.0
21      6 Reviews , 1 Follower      6.0        1.0
22     2 Reviews , 2 Followers      2.0        2.0
23    8 Reviews , 25 Followers      8.0       25.0
24                    1 Review      1.0        NaN
25                   3 Reviews      3.0        NaN
26      2 Reviews , 1 Follower      2.0        1.0
27     1 Review , 26 Followers      1.0       26.0
28     9 Reviews , 5 Followers      9.0        5.0
29     3 Reviews , 3 Followers      3.0        3.0